<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mailing</title>
</head>
<body>
{% load my_tags %}
<div class="create button">
    <a class="btn btn-primary" href="{% url 'mailings:index' %}" role="button">Главная</a>
    |
    <a class="btn btn-primary" href="{% url 'mailings:mailings_list' %}" role="button">Рассылки</a>
    |
    <a class="btn btn-primary" href="{% url 'mailings:clients_list' %}" role="button">Клиенты</a>
    |
    <a class="btn btn-primary" href="{% url 'mailings:messages_list' %}" role="button">Сообщения рассылок</a>
        |
    <a class="btn btn-primary" href="{% url 'mailings:mailings_trying' %}" role="button">Попытки рассылок</a>
    {% if request.user|has_group:"manager" %}
    |
    <a class="btn btn-primary" href="{% url 'users:list' %}" role="button">Пользователи сервиса</a>
    {% endif %}

    <form method="post" action="{% url 'users:users_logout' %}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</div>
<a class="btn btn-primary" href="{% url 'mailings:mailings_create' %}" role="button">Создать рассылку</a>
<div>_____________________</div>
{% for try in object_list %}
<div class="try_block">
    <a href="{% url 'mailings:mailings_detail' try.mailing.pk %}">{{ try.mailing.message.title }}</a>
    {% if request.user|has_group:"manager" %}
    <div>mailing owner: {{ try.mailing.owner }}</div>
    {% endif %}
    <div>date and time: {{ try.date_and_time }}</div>
    <div>status: {{ try.status }}</div>
    <div>response: {{ try.response }}</div>
    <div>-----------------</div>
</div>
{% endfor %}

</body>
</html>