<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mailing</title>
</head>
<body>
{% load my_tags %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mailings:index' %}" role="button">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailings:mailings_list' %}" role="button">Рассылки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailings:clients_list' %}" role="button">Клиенты</a>
                </li>
                <a class="nav-link" href="{% url 'mailings:messages_list' %}" role="button">Сообщения
                    рассылок</a>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailings:mailings_trying' %}" role="button">Попытки
                        рассылок</a>
                </li>
                {% if request.user|has_group:"manager" %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'users:list' %}" role="button">Пользователи сервиса</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <form method="post" action="{% url 'users:users_logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>
</nav>

<div class="mailing_block">
    <div>status: {{ object.status }}</div>
    <div>create date: {{ object.start_date_and_time }}</div>
    <div>delay: {{ object.delay }}</div>
    <div>message title: {{ object.message.title }}</div>
    <div>message text: {{ object.message.body }}</div>
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'mailings:mailings_update' object.pk %}" role="button">Изменить</a>
        <a class="btn btn-primary" href="{% url 'mailings:mailings_delete' object.pk %}" role="button">Удалить</a>
    </div>
    <div>--------------</div>
</div>

</body>
</html>